<% @questions.each do |question| %>
  <ul class='question'>
    <li><%=link_to question.title, question %></li>
    <li><%=question.content%></li>
    <li>Written by:
      <%=question.author_username%> on <%=long_form_date(question.updated_at)%> </li><br/>
  </ul>
<% end %>