<% if !logged_in? %>
  <div id='login-form'>
    <h1> Log in to your account here: </h1>

    <%= form_for :session do |f| %>
      Username: <%= f.text_field :username %><br />
      Password: <%= f.password_field :password %><br />
      <%= f.submit 'Log In', :id => 'button' %>
    <% end %>
  </div>
<% else %>
  <h1> You do not have access to this page. </h1>
<% end %>